.categories-card {
  border: 1px solid rgba(128, 128, 128, 0.342);
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.categories-card:hover {
  transition: all 0.3s ease;
  border: 1px solid var(--color-dark);
}
