/* ? Styles or parameters for this app */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}

/*missing alt attribute*/
img:not([alt]) {
  outline-offset: 5px;
  outline: 5px dashed red;
}

/*empty alt attribute*/
img[alt=""] {
  outline-offset: 15px;
  outline: 5px solid blue;
}
